@{
    ViewData["Title"] = "About Pink Cross";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> All about Pink Cross </title>
</head>
<body>
    <div style="width : 450px ; background-color : lightpink ; ">
        <p> Pink Cross is an organisation found on 28 May 2020 </p>
        <p> Our founders are Jacelyn , Trina and Ming Xuan</p>
        <p> We are a group of people that helps out the <span style="color: red ;"> <u> needy elderlies </u></span></p>
    </div>
</body>
</html>