@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PINK CROSS</h1>
    <p>We are an organisation that <u>help out the needy elderlies</u> with survival. </p>
</div>

<p><b> 2017 </b></p>
<img src="~/FYP IMAGES/FYP.jpg" width="500" height="300" />
<p><b> 2018 </b></p>
<img src="~/FYP IMAGES/fyp2.jpg" width="500" height="300" />
